
$black: #000000;
$gray: #f8f8f8;


$shadow: 1px 5px 10px  rgba($black, .125);
$white: #ffffff;
$pink: #EB016E;
$border: 140px;


// Bootstrap Modal
$modal-backdrop-bg: #334055;
$modal-backdrop-opacity: 0.9;
